section.about
		.wrapper.wrapper-jcc
			ul.breadcrumbs
				li
					a(href="") Главная 
				li.active
					a(href="") О компании

		.wrapper.wrapper-jcc
			.title-wrapper.title-wrapper-centered
				h2.abs-title-black О компании

			.about-content.wrapper-fluid
				.about-content__header Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием

				.about-content__column
					p.about-content__text Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием и ремонтом не только противопожарных и автоматических ворот для гаражных и промышленных помещений, но и шлагбаумов различных типов. 

					p.about-content__text Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием и ремонтом не только противопожарных и автоматических ворот для гаражных и промышленных помещений, но и шлагбаумов различных типов.

					p.about-content__text Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием и ремонтом не только противопожарных и автоматических ворот для гаражных и промышленных помещений, но и шлагбаумов различных типов.
						br
						| Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием и ремонтом не только. 

					p.about-content__text Противопожарных и автоматических ворот для гаражных и промышленных помещений, но и шлагбаумов различных типов.

			.abs-button-wrapper
				a(href="#").button.button-with-arrow Задать вопрос директору 
					.button-arrow
						+icon('arrow-left')