section.abs-textblock
	img.abs-textblock-ellipse(data-src="img/textblock-llipse.png", alt="")
	
	.wrapper
		.title-wrapper
			h2.abs-title-black заголовок текстового блока

	.wrapper.abs-textblock__content
		.abs-textblock__text
			p.abs-textblock__pargrf Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием и ремонтом не только противопожарных и автоматических ворот для гаражных и промышленных помещений, но и шлагбаумов различных типов. 
			p.abs-textblock__pargrf Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием и ремонтом учения, занимающиеся разработкой, обслуживанием и ремонтом не только противопожарных и автоматических ворот для гаражных и промышленных помещений, но и шлагбаумов различных типов. 
			p.abs-textblock__pargrf Высококлассные специалисты нашей компании, прошедшие курс обучения, занимающиеся разработкой, обслуживанием и ремонтом не только противопожарных и автоматических ворот.

			a(href="#").button.button-with-arrow Получить консультацию эксперта
				.button-arrow
					+icon('arrow-left') 

		.abs-textblock__img-wrap
			img(data-src="img/text-block-img.jpg", alt="").abs-textblock__img