section.automatic
	.wrapper
		.title-wrapper.title-wrapper-wide.text-center
			h2.abs-title-black Автоматика для секционных ворот

	.wrapper
		.cards-slider
			- for (var i=0; i < 8; i++)
				.cases-slider__slide
					include ../_includes/product-card-title