section.calculation
	.wrapper.no-pd-480
		.title-wrapper.title-wrapper-wide.text-center
			h2 Рассчитаем ваш заказ за 5 минут
			.abs-subtitle Оставьте заявку
			p.abs-section-description и мы поможем Вам подобрать промышленные ворота, 
				br
				| подскажем, как сэкономить, не теряя в качеcтве, расскажем о текущих скидках и акциях 

		form.abs-form(action="#")
			label.abs-form-label
				span.abs-form-label-name Ваше имя
				input.abs-form-input(type="text", name="" placeholder="Иван например")

			label.abs-form-label
				span.abs-form-label-name Ваш телефон
				input.abs-form-input(type="text", name="" placeholder="+7 (___) ___-__-__")

			button.button.button-wide.button-active-to-wt(type="submit") ПОЛУЧИТЬ РАСЧЕТ

			.abs-form__custom-policy
				label.abs-form-custom
					input.abs-form-check(type="checkbox", name="" checked required)
					span.abs-form__custom-chek
				span.abs-form__policy Я согласен с #[a(href="#") Политикой конфидициальности]