section.cases
	.wrapper
		.title-wrapper
			h2.abs-title-black Готовые решения

	.wrapper
		.cards-slider
			- for (var i=0; i < 8; i++)
				.cases-slider__slide
					include ../_includes/product-card