section.category-price
	.wrapper.no-pd-480
		.title-wrapper.title-wrapper-wide.text-center
			h2.abs-title-black Стоимость секционных ворот

		.category-price__content.tabs
			ul.tabs__list
				li.tabs__item.tabs__item--active
					a.tabs__link(href='#item1')
						span Doorhan
				li.tabs__item
					a.tabs__link(href='#item2')
						span Alutech
			
			ul.tabs__content
				li#item1.tabs__item.active
					.category-price__table
						table
							thead
								tr
									th Высота
									th 2000
									th 2250
									th 2500
									th 2750
									th 3000
									th 3250
							tbody
								tr
									td Высота
									td
									td
									td
									td
									td
									td
								tr
									td 2000
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 2250
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 2500
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 2750
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 3000
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 3250
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

				li#item2.tabs__item
					.category-price__table
						table
							thead
								tr
									th Высота
									th 2000
									th 2250
									th 2500
									th 2750
									th 3000
									th 3250
							tbody
								tr
									td Высота
									td
									td
									td
									td
									td
									td
								tr
									td 2000
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 2250
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 2500
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 2750
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 3000
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р

								tr
									td 3250
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р
									td 36 400Р