section.certificados
	.wrapper
		.title-wrapper.title-wrapper--numbered
			.title-number 07
			h2 Лицензии и сертификаты

	.wrapper
		.certificados-content
			-for(var i=0; i<5; i++)
				a(href="#").certificados-item
					.certificados-item__img
						img.certificados-pict(data-src="img/certificat.jpg", alt="")
					.certificados__text Сертификат 
						br
						| соответствия