section.company
	img.company-ellipse(data-src="img/company-ellipse.png", alt="")
	.wrapper.company-top
		.title-wrapper.title-wrapper--numbered
			.title-number 04
			.title-wrapper__block
				h2 Компания АБСОЛЮТ-СЕРВИС
				.abs-subtitle надежный поставщик ворот и автоматики с 2004 г.
	
	.wrapper.company-content
		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/puzzle.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| делаем упор на 
				br 
				|практичность 
				br
				| #[strong продукции]
		
		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/personal-profile.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| самые 
				br 
				| высококлассные 
				br 
				|специалисты 
				br
				| #[strong только у нас]

		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/partner.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| репутация надежного 
				br 
				| партнера 
				br
				| #[strong наша визитная карточка в ]
				br
				| #[strong мире бизнеса]

		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/award.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| только лучшую  
				br 
				| продукцию  
				br
				| #[strong выбираем и предлагаем с ]
				br
				| #[strong учетом новейших технологий]

		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/puzzle.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| делаем упор на 
				br 
				|практичность 
				br
				| #[strong продукции]

		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/personal-profile.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| самые 
				br 
				| высококлассные 
				br 
				|специалисты 
				br
				| #[strong только у нас]

		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/idea.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| мы всегда в курсе 
				br 
				| последних новшеств 
				br
				| #[strong на рынке]

		.company-item
			.company-item__icon
				.company-item__icon-inner.svg-icon-bg(data-src="img/svg/hands.svg")
				.company-item__icon-round.company-item__icon-round--1
				.company-item__icon-round.company-item__icon-round--2
			p
				| индивидуальный 
				br 
				| подход 
				br
				| #[strong к каждому клиенту]