section.construction
	.wrapper.construction-top
		.title-wrapper.title-wrapper-wide.text-center
			h2.abs-title-black Конструкция секционных ворот

	.wrapper.construction-content
		.construction-content__colum.construction-content__left.text-right
			.construction-item
				.construction-item__text Полотно ворот из сэндвич-панелей 
					br
					| или панорамных панелей

				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/01.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2

			.construction-item
				.construction-item__text Устройство защиты от обрыва троса 
					br
					| на воротах площадью свыше 10 м.кв.

				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/02.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2

			.construction-item
				.construction-item__text Пружинно-торсионный механизм  
					br
					| или пружины растяжения

				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/03.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2

			.construction-item
				.construction-item__text Задвижка
				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/04.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2

		.construction-content__colum.construction-content__center
			img.construction-content__img(data-src="img/construction/construction-img.jpg", alt="")

		.construction-content__colum.construction-content__right
			.construction-item
				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/05.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2
				.construction-item__text Система направляющих профилей 


			.construction-item
				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/06.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2
				.construction-item__text Ручка или ручка ступенька 
					br
					| (на промышленных воротах)


			.construction-item
				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/07.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2
				.construction-item__text Устройство защиты от разрыва 
					br 
					| пружины


			.construction-item
				.construction-item__icon
						.construction-item__icon-inner
							img.construction__icon__img(data-src="img/construction/08.png", alt="")
						.construction-item__icon-round.construction-item__icon-round--1
						.construction-item__icon-round.construction-item__icon-round--2
				.construction-item__text Упаковка в гофрокартон
