section.consultation
	.wrapper
		img.consultation-img(data-src="img/as.png", alt="")
		.title-wrapper
			h2 получите 
				br
				| подробную консультацию 
				br
				| и расчет стоимости

			.abs-subtitle до начала работ бесплатно в день обращения
	
	.wrapper
		.consultation-content
			p Оставьте заявку на бесплатную консультацию и получите расчет стоимости ворот и подарок.

			.consultation__button-wrapper
				a(href="#expect-popup").button.button-with-arrow.to-popup Получить консультацию и материалы
					.button-arrow
						+icon('arrow-left')
				img(data-src="img/consult-ellipse-button.png", alt="")