section.diler
	.wrapper
		.title-wrapper.title-wrapper-wide.text-center
			h2.abs-title-black Абсолют-сервис - официальный дилер
			.abs-subtitle ведущих мировых брендов

		.diler-logos
			- for (var i=1; i < 6; i++)
				.diler-logo
					img.diler-logo-img(data-src="img/diler-logos/"+i+".png", alt="")

		.diler-description Производство должно осуществляться только высококвалифицированными специалистами. Правильная и профессиональная установка 
			br 
			| конструкций - это гарантия продолжительности их эксплуатации и безопасности.