section.gates-types
	.wrapper
		.title-wrapper.title-wrapper-wide.text-center
			h2 Виды промышленных ворот

		include ../_includes/product-views

		.gates-types__text.wrapper-fluid
			.gates-types__column Одну из важнейших и ведущих ячеек на мировом рынке занимают промышленные ворота, и это все благодаря своему разнообразию и усовершенствованным многофункциональным качествам. Например, автоматические промышленные ворота имеют ряд превосходств над воротами с ручным видом управления, поэтому при выборе продукции учитываются все ключевые факторы места установки и назначения.

			.gates-types__column Внедрение инновационных технологий в современное производство позволяет спроектировать и изготовить даже самые изощренные виды ворот, которые станут оптимальным и незаменимым решением для любого предприятия.
