section.history.history--usual
	.wrapper
		.title-wrapper
			h2 За 14 лет работы 
				br
				| мы установили ворота, двери и автоматику

			a(href="#").button.button-with-icon.button-with-icon-mini Смотреть все работы
				.button-icon
					+icon('catalogue')

	.wrapper
		.title-wrapper
			.abs-subtitle для 50+ объектов, общей площадью 10 000 м#[sup 2]

	.wrapper.no-pd-480
		include ../_includes/objects