section.page-banner(data-src="img/page-prom-visual.jpg")
	.abs-grd-top
	.page-banner__inner
		.wrapper
			ul.breadcrumbs.breadcrumbs--on-dark
				li
					a(href="") Главная 
				li.active
					a(href="") Промышленные ворота

		.wrapper
			.page-banner__content
				h2 Промышленные ворота
				.abs-subtitle Получите подробную консультацию и расчет стоимости 
					br
					| до начала работ бесплатно в день обращения

				.page-banner__descr Получите бесплатную консультацию 
					br
					| и расчет стоимости ворот

				a(href="#expect-popup").button.button-with-arrow.to-popup Получить консультацию и расчет
					.button-arrow
						+icon('arrow-left')