section.popular
	.wrapper
		.title-wrapper.title-wrapper--numbered
			.title-number 02
			h2 Популярная продукция
			a(href="#").button.button-with-icon.button-with-icon--on-dark Все категории
				.button-icon.svg-icon-bg.button-icon--catalog
					+icon('catalogue')
		
		include ../_includes/product-views
