section.questions.questions--usual
	.wrapper
		img.questions-img(src="img/group.png", alt="")
		
		.questions-left
			.title-wrapper
				h2 Есть вопросы? 
					br
					| Напишите нам!

			.questions-info
				p #[strong Отправьте вопрос и мы свяжемся с вами в ближайшее рабочее время пн-пт с 10.00 до 19.00,] 
					br
					| чтобы подробно 
					br
					| рассказать обо всем, что вас интересует.

				.questions-info__bottom Или задайте вопрос по телефону 
					a(href="tel:4997025552") 499 702-55-52
		
		.questions-right
			form.abs-form(action="#")
				label.abs-form-label
					span.abs-form-label-name Ваше имя
					input.abs-form-input(type="text", name="" placeholder="Иван например")

				label.abs-form-label
					span.abs-form-label-name Ваш телефон
					input.abs-form-input(type="text", name="" placeholder="+7 (___) ___-__-__")

				label.abs-form-label
					span.abs-form-label-name E-mail
					input.abs-form-input(type="text", name="" placeholder="your@mail")

				label.abs-form-label
					span.abs-form-label-name Ваш вопрос
					input.abs-form-input(type="text", name="")

				.abs-form__custom-policy
					label.abs-form-custom
						input.abs-form-check(type="checkbox", name="" checked required)
						span.abs-form__custom-chek
					span.abs-form__policy Я согласен с #[a(href="#") Политикой конфидициальности]

				button.button.button-wide.button-active-to-wt(type="submit") Получить консультацию