section.services
	.wrapper
		.services-left
			.title-wrapper.title-wrapper--numbered
				.title-number 03
				h2 Услуги
				.abs-subtitle Краткое описание выполнения услуг 
					br
					| в 1-2 предложениях

			.services-visual
				img.services-visual__img(data-src="img/gates.png", alt="")

				a(href="#").services-mark.services-mark--1
					.services-mark__inner
						.services-mark__line
				a(href="#").services-mark.services-mark--2
					.services-mark__inner
						.services-mark__line
				a(href="#").services-mark.services-mark--3.active
					.services-mark__inner
						.services-mark__line
				a(href="#").services-mark.services-mark--4
					.services-mark__inner
						.services-mark__line

		.services-right
			a(href="#").services-feature
				.services-feature__icon
					.services-feature__icon-inner
						img.services-feature__img(data-src="img/svg/delivery-truck.svg", alt="")
						img.services-feature__img.services-feature__img--hover(data-src="img/svg/delivery-truck-wt.svg", alt="")
				
				.services-feature__text
					.services-feature__title Доставка
					.services-feature__descr Ключевое преимущество услуги

			a(href="#").services-feature
				.services-feature__icon
					.services-feature__icon-inner
						img.services-feature__img(data-src="img/svg/repair-tools.svg", alt="")
						img.services-feature__img.services-feature__img--hover(data-src="img/svg/repair-tools-wt.svg", alt="")
				.services-feature__text
					.services-feature__title Монтаж
					.services-feature__descr Ключевое преимущество услуги

			a(href="#").services-feature.active
				.services-feature__icon
					.services-feature__icon-inner
						img.services-feature__img(data-src="img/svg/mechanic.svg", alt="")
						img.services-feature__img.services-feature__img--hover(data-src="img/svg/mechanic-wt.svg", alt="")
				.services-feature__text
					.services-feature__title Ремонт ворот
					.services-feature__descr Ключевое преимущество услуги

			a(href="#").services-feature
				.services-feature__icon
					.services-feature__icon-inner
						img.services-feature__img(data-src="img/svg/warranty.svg", alt="")
						img.services-feature__img.services-feature__img--hover(data-src="img/svg/warranty-wt.svg", alt="")
				.services-feature__text
					.services-feature__title Сервисное обслуживание
					.services-feature__descr Ключевое преимущество услуги

