section.timeframe(data-src="img/timeframe/timeframe-bg-gate.jpg")
	//- img.timeframe-ellipse.timeframe-ellipse--left(data-src="img/timeframe/ellipse-left.png", alt="")
	//- img.timeframe-ellipse.timeframe-ellipse--right(data-src="img/timeframe/ellipse-right.png", alt="")

	//- img.timeframe-visual(data-src="img/timeframe/visual.png", alt="")
	
	.wrapper.timeframe-top
		.title-wrapper.title-wrapper-wide.text-center
			h2.abs-title-black более 14 лет
			.abs-subtitle.abs-subtitle--black продаем и устанавливаем ворота

	.wrapper.timeframe-content
		.timeframe-content__inner
			.timeframe-column.timeframe-column--left
				.timeframe-item
					.timeframe-item__text Реальные сроки 
						br
						| исполнения договора
					.timeframe-item__icon
						.timeframe-item__icon-inner.svg-icon-bg(data-src="img/svg/calendar.svg")
						.timeframe-item__icon-round.timeframe-item__icon-round--1
						.timeframe-item__icon-round.timeframe-item__icon-round--2

				.timeframe-item
					.timeframe-item__text Скидки: с нами всегда  
						br
						| уместен торг
					.timeframe-item__icon
						.timeframe-item__icon-inner.svg-icon-bg(data-src="img/svg/coupon.svg")
						.timeframe-item__icon-round.timeframe-item__icon-round--1
						.timeframe-item__icon-round.timeframe-item__icon-round--2

				.timeframe-item
					.timeframe-item__text Только оригинальные   
						br
						| комплектующие
					.timeframe-item__icon
						.timeframe-item__icon-inner.svg-icon-bg(data-src="img/svg/coupon.svg")
						.timeframe-item__icon-round.timeframe-item__icon-round--1
						.timeframe-item__icon-round.timeframe-item__icon-round--2


			.timeframe-column.timeframe-column--right
				.timeframe-item
					.timeframe-item__icon
						.timeframe-item__icon-inner.svg-icon-bg(data-src="img/svg/vector.svg")
						.timeframe-item__icon-round.timeframe-item__icon-round--1
						.timeframe-item__icon-round.timeframe-item__icon-round--2
					.timeframe-item__text Любые варианты 
						br
						| дизайна

				.timeframe-item
					.timeframe-item__icon
						.timeframe-item__icon-inner.svg-icon-bg(data-src="img/svg/measuring-tape.svg")
						.timeframe-item__icon-round.timeframe-item__icon-round--1
						.timeframe-item__icon-round.timeframe-item__icon-round--2
					.timeframe-item__text Бесплатный   
						br
						| замер

				.timeframe-item
					.timeframe-item__icon
						.timeframe-item__icon-inner.svg-icon-bg(data-src="img/svg/shield.svg")
						.timeframe-item__icon-round.timeframe-item__icon-round--1
						.timeframe-item__icon-round.timeframe-item__icon-round--2
					.timeframe-item__text Гарантийное   
						br
						| обслуживание - 1 год