script(src='js/libs/jquery/jquery-1.11.2.min.js')
script(src='js/libs/jquery-ui/jquery-ui.min.js')
script(src='js/libs/svg4everybody/svg4everybody.min.js')
script(src='js/libs/lazy-master/jquery.lazy.min.js')
script(src='js/libs/slick/slick.js')
script(src='js/libs/superfish/dist/js/hoverIntent.js')
script(src='js/libs/superfish/dist/js/superfish.min.js')
script(src='js/libs/magnific-popup/dist/jquery.magnific-popup.min.js')
script(src='js/libs/headhesive/dist/headhesive.min.js')
script(src='js/libs/tooltipster/js/tooltipster.bundle.min.js')
script(src='js/common.js')
script(type="text/javascript" src="js/libs/svg4everybody.js" async onload="svg4everybody();")