extends _misc/main

block title
	| О компании

block content
	include _sections/about

	section.company.company--dark

		.wrapper.wrapper-jcc.company-top
			.title-wrapper.title-wrapper-centered
				.title-wrapper__block
					h2 Компания АБСОЛЮТ-СЕРВИС
					.abs-subtitle надежный поставщик ворот и автоматики с 2014 г.
		
			.company-content
				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/puzzle.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| индивидуальный
						br
						| подход
			
				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/personal-profile.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| квалифицированная 
						br 
						| консультация

				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/partner.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| репутация надежного 
						br 
						| партнера 

				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/award.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| всегда в курсе 
						br 
						| последних новшеств  

				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/puzzle.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| лучшая сертифицированная 
						br 
						| продукция 

				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/personal-profile.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| оперативный 
						br 
						| выезд на объект
						br 

				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/idea.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| демократичные цены 
		
				.company-item
					.company-item__icon(title="При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения. При наведении на иконку будет сплывать подсказка с описанием преимущества объемом где-то 2 предложения.")
						.company-item__icon-inner.svg-icon-bg(data-src="img/svg/hands.svg")
						.company-item__icon-round.company-item__icon-round--1
						.company-item__icon-round.company-item__icon-round--2
					p
						| четкое соблюдение 
						br 
						| сроков и договоренностей
	
	include _sections/abs-textblock

	section.projects.projects--usual
		.wrapper.wrapper-jcc
			.title-wrapper.title-wrapper-centered
				h2.abs-title-black наши проекты

		include _includes/projects-tabs


	include _sections/calculation-light
	include _sections/questions-usual
	
block scripts
	include _misc/scripts