extends _misc/main

block title
	| Главная страница

block content
	section.customs
		.wrapper
			.abs-select-wrap
				select#(name="")
					option(value="" selected="selected") Value
					option(value="") Value
					option(value="") Value
					option(value="") Lorem
					option(value="") Value

block scripts
	include _misc/scripts