extends _misc/main

block title
	| Главная страница

block content
	//- include _sections/main-slider
	//- include _sections/popular
	//- include _sections/services
	//- include _sections/company
	//- include _sections/consultation
	//- include _sections/history
	//- include _sections/certificados
	//- include _sections/ceo
	//- include _sections/questions
	include _sections/scheme
	//- include _sections/installation

block scripts
	include _misc/scripts