extends _misc/main

block title
	| Промышленные ворота

block content
	include _sections/page-banner
	include _sections/spec-actions
	include _sections/gates-types
	include _sections/cases
	include _sections/calculation
	include _sections/diler
	include _sections/timeframe
	include _sections/installation
	include _sections/history-usual
	include _sections/ceo
	include _sections/questions-usual

block scripts
	include _misc/scripts