/*--main-styles--*/
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
}
html{
	font-size: 18px;
  &.freeze{
    overflow: hidden;
    body{
      overflow: hidden;
    }
  }
}
body{
	font-family: $r;
	font-weight: normal;
	font-size: 18px;
	min-width: 320px;
	position: relative;
	// line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
.wrapper{
	@include row-flex();
	@include wrapper();

  &-jcc{
    justify-content: center;
  }
}
.wrapper-fluid{
  @include row-flex();
}
.title-wrapper{
  @include col();
  position: relative;

  &--numbered{
    padding-left: rem(105px);

      h2{
      position: relative;
      z-index: 1;
    }
  }
  &-wide{
    @include col-18();
  }
  &-centered{
    @include col-16();
    @include col-bigger-18();
  }
}
.title-number{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -8px;
  font-size: rem(160px);
  line-height: rem(155px);
  font-family: $r-s-b;
  z-index: 0;


}
h1, h2{
	margin: 0;
	font-size: rem(48);
	// line-height: rem(50px);
	color: #000;
	font-family: $r-s-b;
	font-weight: normal;
	color: #FEC947;
  text-transform: uppercase;

  &.abs-title-black{
    color: #000;
  }
}
h2{
  margin-bottom: 15px;
}
.abs-subtitle{
	line-height: rem(34px);
font-size: rem(24px);
font-family: $r-b;
color: #fff;

  &--black{
    color: #000;
  }
}
.abs-section-description{
  margin: 0;
  font-size: rem(24px);
}
input{
	outline: none;
}

ul, li{
	margin: 0;
	padding: 0;
}
.responsive-img{
	width: 100%;
	display: block;
}
.clearfix{
	@include clearfix;
}

.text{
  &-center{
    text-align: center;
  }
  &-right{
    text-align: right;
  }
}
// <a href="#" class="toggle-mnu hidden-lg"><span></span></a>
.svg-icon-bg{
  background: center no-repeat;
  background-size: 100%;
}
.abs-button-wrapper{
  width: 100%;
  text-align: center;
}
.button{
  display: inline-block;
  border: none;
  color: #000;
  text-decoration: none;
  background-color: $accent;
  padding: 20px 25px 22px 25px;
  text-align: center;
  font-family:$r-b;
  position: relative;
  outline: none;
  border: 1px solid #E2B33F;
  transition: background-color .1s ease;

	
  &:hover{
     color: #fff;
     border-color: #E2B33F;
  }
   
		
  &:active{
   background-color: transparent;
   border-color: $accent;
   color: #000;
  }
  
  &-wide{
    width: 100%;
  }
  &-with-arrow{
  	width: 419px;
  	padding-right: 98px;
  	position: relative;


			&:hover{
				.button-arrow{
					background-color: transparent;
				}
			} 
			&:active{
				background-color: #fff;

			}

  }

  &-arrow{
  		content: '';
  		display: block;
  		height: 100%;
  		width: 67px;
  		top: 0;
  		right: 0;
  		position: absolute;
  		background-color: #fff;
  		background: #E2B33F;
			border-left: 0.75px solid #E2B33F;

			.icon{
				@include absolute-center;
				font-size: 14px;			
			}
  }
  &-mini{
    width: 180px;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    color: #fff;
  }
  &-with-icon{
    padding-left: 95px;
    width: 294px;
    padding-top: 22px;
    padding-bottom: 23px;
    font-size: 14px;
    font-family: $r-m;
    color: #000;
    background-color: transparent;
    border: 1px solid $accent;

    box-shadow: 0px 6.65529px 13.3106px rgba(226, 179, 63, 0.2);

    .button-icon{
      position: absolute;
      top: 0;
      left: 0;
      width: 65px;
      height: 100%;
      background-size: 60%;
      border-right: 1px solid $accent;


      .icon{
        @include absolute-center;
        font-size: 38px;
        color: #000;
      }
    }

    &:hover{
      background-color: #fff;
      color: $hover-blue;
      .button-icon{
        .icon{
          color: $hover-blue;
        }
      }
    }
    &:active{
      border-color: #000;
      background-color: $accent;
      color: #000;

      .button-icon{
        border-color: #000;
        .icon{
          color: #000;
        }
      }
    }

    &--on-dark{
      color: #fff;
      .button-icon{
        .icon{
          color: #fff;
        }
        
      }

      &:hover{
        background-color: #fff;
        color: $hover-blue;
        .button-icon{
          .icon{
            color: $hover-blue;
          }
        }
      }
      &:active{
        border-color: #fff;
        background-color: transparent;
        color: $accent;

        .button-icon{
          border-color: #fff;
          .icon{
            color: $accent;
          }
        }
      }
    }
    

  }

  &-with-icon-mini{
    width: 196px;
    padding-right: 0;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 13.5px;
    box-shadow: none;
    
    .button-icon{
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      background-size: 70%;
      border-right: 1px solid $accent;
    }
  }

  &-inverse{
    color: #000;
    &:hover{
        .button-arrow{
          background-color: transparent;
        }
      } 
      &:active{
        background-color: transparent;

      }
  }
  &-empty{
    width: 166px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: transparent;

    &:hover{
      color: $hover-blue;
      background-color: #fff;
    } 

    &:active{
      color: #000;
      border-color: #000;
      background-color: $accent;
    }
    
  }

  &-active-to-wt{
    &:active{
      background-color: #fff;
    }
  }
   
}
.toggle-mnu{

  display: block;
  margin-right: 23px;
  width: 45px;
  height: 27px;
  position: relative;
  // z-index: 100;

  &.fixed{
    position: fixed;
  }
 

  span:after, span:before{

    content: "";
    position: absolute;
    left: 0;
    top: 10px;
  } 

  span:after{

    top: 20px;
  }

  span{

    position: relative;
    display: block;
  } 

  span, span:after, span:before{

    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;

  }


  &.on span{

    background-color: transparent;
  } 

  &.on span:before{
    background-color: $accent;
    transform: rotate(45deg) translate(-1px, 0px);
  } 

  &.on span:after{
    background-color: $accent;
    transform: rotate(-45deg) translate(6px, -7px);
  } 
} 
.abs-grd-top{
  position: absolute;
  top: 0;
  left: 0;
  height: rem(310px);
  width: 100%;
  @include vertical-grad(#0C273F, transparent);
  // background: linear-gradient(169.08deg, rgba(67, 180, 221, 0.22) 2.97%, rgba(67, 180, 221, 0) 53.66%), #0A2139;
  z-index: 1;
}
.plus-mark{
  position: absolute;
  width: 98px;
  height: 98px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;

  &:hover, &:active{
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    .plus-mark__center{
     border-color: #fff;

      .icon{
        color: $accent;
        font-size: 15px;
      }
    }

    .plus-mark__content{
      display: block;
    }
  }
  

}
.plus-mark__center{
  @include absolute-center;
  width: 46px;
height: 46px;
border: 5px solid $accent;
border-radius: 50%;
  .icon{
    @include absolute-center;
    font-size: 20px;
    color: #fff;
  }
}
.plus-mark__content{
  display: none;
  width: 374px;
  font-size: rem(24px);
  position: absolute;
  top: -101px;
  left: calc(100% + 87px);
  padding: rem(27px) rem(58px);
  background: rgba(#fff, 0.8);

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
right: 100%;
transform-origin: right;
transform: rotate(-48deg);
    width: 181px;
    height: 1px;
    background-color: #fff;
  }

}

.cover{
  // position: relative;
  // &:before{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(#000, 0.7);
    background-color: rgba(#082038, 0.7);
  // }
}

.phone-block{
    

    .icon{
      display: inline-block;
      margin-right: 10px;
      color: $accent;
      font-size: 18px;
      vertical-align: middle;
    }

    a{
      vertical-align: middle;
      color: #fff;
      font-family: $r-b;
      text-decoration: none;
    }

    &:hover{
      .icon{
        color: #68A7CF;
      }
    } 
    &:active{
      .icon{
        color: $accent;
      }
    }
}
.abs-soc-item{
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;

  &:first-child{
    margin-left: 0;
  }

  .icon{
    font-size: 30px;
    color: #346789;
  }

  &:hover{
    .icon{
      color: #68A7CF;
    }
  } 
  &:active{
    .icon{
      color: $accent;
    }
  }
  
}
.abs-form{
  .abs-form-label{
    display: block;
    margin-bottom: 24px;
  }
  .abs-form-label--file{
    position: relative;
    padding: 21px 0;
    background-color: #316484;
    text-align: center;
    border: 1px solid #fff;

    .abs-form-label-text{
      padding-right: 68px;
      color: #fff;
      font-family: $r-b;
    }

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 68px;
      height: 100%;
      border-left: 1px solid #fff;
      background: #23506D url(../img/svg/clip.svg) center no-repeat;
      background-size: 45%;
    }
  }
  .abs-form-label-name{
    display: block;
    margin-bottom: 9px;
    font-family: $r-l;
    color: #fff;
  }
  .abs-form-input{
    display: block;
    width: 100%;
    padding: 15px 28px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 18px;
    font-family: $r-l;
    @include placecolor(rgba(0, 0, 0, 0.25));
  }
  .abs-form-custom{
    position: relative;
    display: inline-block;
  }
  .abs-form__custom-policy{
    margin-top: 40px;
    margin-bottom: rem(59px);
  }
  .abs-form-check,
  .abs-form-file{

    position: absolute;
      box-sizing: border-box;
      width: 1px;
      height: 1px;
      display: block;
      left: 50%;
      top: 100%;
      margin: 0;
      padding: 0;
      opacity: 0;

      &:checked ~ .abs-form__custom-chek{
        &:before{
          display: block;
        }
      }
  }
  .abs-form__custom-chek{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);

    &:before{
      content: '';
      @include absolute-center;
      @extend .svg-icon-bg;
      width: 18px;
      height: 13px;
      background:  url(../img/svg/check.svg) no-repeat;
      display: none;
    }

  }
  .abs-form__policy{
    // font-size: 14px;
    font-family: $r-l;
    color: #fff;

    a{
      color: #fff;
    }
  }
  .button{
    font-size: 18px;
  }
}



.ui-selectmenu-button{
  background-color: #fff;
}
.ui-widget{
  font-family: $r-l;
  color: #000;
  }

.abs-select-wrap{
  width: 392px;
  select{
    display: block;
    width: 100%;
  }
}
 .ui-corner-top{
  border-radius: 0;

 }
 .ui-button{
  padding-top: 9px;
  padding-bottom: 9px;
 }
.ui-button,
.ui-button:hover, 
.ui-button:focus,
.ui-button:active{
  border-color: transparent;
  outline: none;
 }

 .ui-button .ui-icon{
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 17px;
  height: 10px;
  background:  url(../img/svg/chevron-down.svg) 0 0 no-repeat;
  background-size: 100%;
 }
 .ui-button:hover .ui-icon{
  background-image: url(../img/svg/chevron-down.svg);
 }
.ui-button:focus .ui-icon{
  background-image: url(../img/svg/chevron-down.svg);

}
.abs-logo{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;

    a{
      img{
        display: block;
      }
    }

    p{
      position: relative;
      margin-left: 30px;
      font-size: 12px;
      line-height: 13px;
      color: #fff;

      &:before{
        content: '';
        display: block;
        position: absolute;
        left: -18px;
        margin-top: -3px;
        top: 50%;
        transform: translateY(-50%);
        height: 39px;
        width: 1px;
        background-color: #0D4061;
      }

    }
  }

.slick-prev,
.slick-next{
  width: 31px;
  height: 35px;
  background: center no-repeat;
  background-size: 100%;

  &:before{
    content: '';
    width: 100%;
    height: 100%;
   background-color: pink;
    display: none;
  }
}

.slick-prev{
  background-image: url(../img/svg/slider-prev.svg);

  &:hover, &:active, &:focus{
    background-size: 100%;
    background: url(../img/svg/slider-prev-hover.svg) center no-repeat;
  }
  
}
.slick-next{
  background-image: url(../img/svg/slider-next.svg);

  &:hover, &:active, &:focus{
    background-size: 100%;
    background: url(../img/svg/slider-next-hover.svg) center no-repeat;
  }
  
}
.slick-slide{
  &:focus{
    outline: 0 none;
  }
}
.abs-product-card{
  width: 100%;
  max-width: 362px;
  padding: 19px 17px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(67, 180, 221, 0.5);
  text-align: center;
  border: 2px solid transparent;

  .abs-product-card__img-wrap{
    height: 356px;
    margin-bottom: 32px;
    background:  center no-repeat;
    background-size: cover;
  }
  .abs-product-card__title{
    margin-bottom: 12px;
    font-size: 24px;
  }
  .abs-product-card__text{
    margin-bottom: 11px;
    line-height: 25px;
    font-family: $r-l;
  }
  .abs-product-card__price{
    margin-bottom: 24px;
    font-size: rem(36px);
    font-family: $r-b;
  }
  .button{
    font-family: $r-bl;
  }

  &:hover{
    border-color: #68A7CF;
    box-shadow: none;
    .button{
      color: #fff;
    }
    .abs-product-card__price{
      color: #68A7D0;
    }
  }

  &:active{
    .button{
      color: #000;
      background-color: transparent;
    }
    .abs-product-card__price{
      color: #000;
    }

  }
  
}
.company-item__icon{
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 182px;
      height: 182px;
      margin-bottom: 24px;
      background: #FFFFFF;
      border: 1px solid rgba(67, 180, 221, 0.35);
      border-radius: 50em;
    }
    .company-item__icon-inner{
      width: 120px;
      height: 120px;
      background-color: #68A7CF;
      background-size: 70%;
      box-shadow: 0px 10px 20px rgba(67, 180, 221, 0.5);
      border-radius: 50em;
      transition: all .3s;
      z-index: 2;
    }
    .company-item__icon-round{
      width: 120px;
      height: 120px;
      @include absolute-center-old;
      transition: all .3s;
      border-radius: 50em;
        background: #E2B33F;
        box-shadow: 0px 10px 20px rgba(226, 179, 63, 0.5);

      &--1{
        opacity: 0.2;
      }
      &--2{
        opacity: 0.3;
        z-index: 1;
      }
    }

.breadcrumbs{
  @include col();
  @include col-16();
  @include col-bigger-18();
  margin-top: rem(36px);
  margin-bottom: rem(40px);

  li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    list-style-type: none;


    &:before{
      content: '/';
      display: inline-block;
      vertical-align: middle;
      margin-left: 7px;
      margin-right: 10px;
      color: #316485;
    }

    &:first-child{
      &:before{
        display: none;
      }
    }


    
    &.active,
    &:hover, &:active{
      &:before{
        color: #000;
      }
      a{
        color: #000;
        text-decoration: none;
      }
    }
    
    a{
      font-size: 14px;
      color: #316485;
    }
  }

  &--on-dark{
    margin-bottom: rem(65px);
    li{
      a{
        color: $accent-l;
      }
      
      &.active,
      &:hover, &:active{
        &:before{
          color: #fff;
        }
        a{
          color: #fff;
        }
      }

    }
  }
}
.abs-marked-list{
  padding-left: 25px;
  li{
    position: relative;
    list-style-type: none;

    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      left: -25px;
      width: 19px;
      height: 10px;
      background:  url(../img/svg/list-mark.svg) 0 0 no-repeat;
      background-size: 100%;
    }

  }
}
.abs-tabs-list{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.abs-tabs-item{
  flex: 1 1 auto;
  list-style-type: none;
  position: relative;
  background-color: #B6E3F3;

  &:after{
    content: '';
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% + 15px);
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(67, 180, 221, 0.5);
    z-index: 0;
  }  

  &.tabs__item--active{
    .abs-tabs-link{
      color: #000;

      &:hover, &:active{
        text-decoration: none;
      }
      

    }
      &:after{
        display: block;
      }
  }
}
.abs-tabs-link{
  display: block;
  // position: relative;
  z-index: 1;
  padding-top: 23px;
  padding-bottom: 29px;
  color: #316485;
  text-decoration: none;
  text-align: center;

  span{
    position: relative;
    z-index: 1;
  }

  &:hover, &:active{
    color: #000;
    text-decoration: underline;
  }
  
}
.abs-tabs-content{
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 15px 13px rgba(67, 180, 221, 0.5);

  .tabs__item{
    list-style-type: none;
  }
  
}
.tabs__content{
  .tabs__item{
    display: none;

    &.active{
      display: block;
    }
  }
}
.wrap-bordered{
  border: 10px solid $l-blue;
  box-shadow: 0px 10px 20px rgba(67, 180, 221, 0.5);
}
.abs-section-ellipse-left{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.hidden{
	display: none;
}
/*--end main-styles--*/