.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(12/10)*1rem;
	width:(13/12)*1em;
}
.icon-catalogue {
	font-size:(36/10)*1rem;
	width:(37/36)*1em;
}
.icon-facebook {
	font-size:(32/10)*1rem;
	width:(31/32)*1em;
}
.icon-helmet {
	font-size:(22/10)*1rem;
	width:(28/22)*1em;
}
.icon-helmet-wt {
	font-size:(22/10)*1rem;
	width:(28/22)*1em;
}
.icon-instagram {
	font-size:(32/10)*1rem;
	width:(31/32)*1em;
}
.icon-phone {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-plus {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-skype {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-telegram {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-vk {
	font-size:(32/10)*1rem;
	width:(31/32)*1em;
}
.icon-whatsapp {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
