.wrapper.delivery-inst__bottom.no-pd-480
	.delivery-inst__content.wrapper-fluid
		.delivery-inst-item
			img.delivery-inst-item__icon(data-src="img/svg/purse.svg", alt="")
			.delivery-inst-item__text
				.delivery-inst-item__title Оплата:
				ul
					li - Наличными
					li - Банковской картой
					li - Безналичный расчет

		.delivery-inst-item
			img.delivery-inst-item__icon(data-src="img/svg/box.svg", alt="")
			.delivery-inst-item__text
				.delivery-inst-item__title Доставка:
				ul
					li - По Москве - бесплатно
					li - По МО - от 700 р./шт
					li - Сроки доставки - по согласованию 
						br
						| с Заказчиком 

		.delivery-inst-item
			img.delivery-inst-item__icon(data-src="img/svg/event.svg", alt="")
			.delivery-inst-item__text
				.delivery-inst-item__title Доставка:
				ul
					li - Стандартные ограждения 
						br
						| от 2-х дней
					li - Нестандартные ограждения 
						br
						| от 5-ти дней