.abs-product-card
	.abs-product-card__img-wrap(data-src="img/card-img-tiles.jpg")
	
	.abs-product-card__title Алютех LG-800 автоматика для секционных ворот (различные комплектации)

	.abs-product-card__text Промышленные секционные ворота 2500х2000 мм Alutech
	
	.abs-product-card__price 40 498 Р

	a(href="#").button.button-wide ЗАКАЗАТЬ