.product-views
	.product-views-item(data-src="img/product-views/1.jpg")
		.product-views-item__bottom
			.product-views-item__info
				.product-views-item__name автоматические ворота
				.product-views-item__price 1300 р / п.м.

			a(href="#").button.button-mini Выбрать

	.product-views-item(data-src="img/product-views/2.jpg")
		.product-views-item__bottom
			.product-views-item__info
				.product-views-item__name Противопожарные ворота
				.product-views-item__price 1300 р / п.м.

			a(href="#").button.button-mini Выбрать

	.product-views-item(data-src="img/product-views/3.jpg")
		.product-views-item__bottom
			.product-views-item__info
				.product-views-item__name Гаражные ворота
				.product-views-item__price 1300 р / п.м.

			a(href="#").button.button-mini Выбрать

	.product-views-item(data-src="img/product-views/4.jpg")
		.product-views-item__bottom
			.product-views-item__info
				.product-views-item__name Шлагбаумы и приводы
				.product-views-item__price 1300 р / п.м.

			a(href="#").button.button-mini Выбрать

	.product-views-item(data-src="img/product-views/5.jpg")
		.product-views-item__bottom
			.product-views-item__info
				.product-views-item__name двери
				.product-views-item__price 1300 р / п.м.

			a(href="#").button.button-mini Выбрать

	.product-views-item(data-src="img/product-views/6.jpg")
		.product-views-item__bottom
			.product-views-item__info
				.product-views-item__name Роллетные системы
				.product-views-item__price 1300 р / п.м.

			a(href="#").button.button-mini Выбрать